[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox Autostart
Exec=firefox http://localhost:5000/ShowWaitingRoomPage
Terminal=false
X-MultipleArgs=false
Icon=firefox
